<!DOCTYPE html>
<html>
  <head>
  	{{ partial "head" }}

    {{ partial "head-inject" }}
  </head>

  <body class="bg-gray-100" style="overflow:overlay">
  	
  	{{ partial "navigation" . }}
    {{ partial "drawer" . }}

    {{ if .IsHome }}
      {{ partial "hero" . }}
    {{ end }}

  	<div class="lg:container lg:mx-auto lg:px-56 mt-10">
      {{ block "main" . }}{{ end }}
    </div>

    {{ partial "footer" . }}

    {{ partial "body-inject" }}

    <div class="fixed top-0 right-0 left-0 bottom-0 z-30 hidden" style="background:rgba(0,0,0,0.75)" onclick="closeNav()" id="overlay"></div>
  </body>
</html>