{{ define "main" }}

  <section class="w-full text-brand-black dark:text-gray-100 body-font">
    <div class=" mx-auto flex flex-col">
      
      {{ $image := printf "images/**/%s" .Params.feature }}    
      {{ $image = (resources.GetMatch $image).Resize "1200x webp q80" }}
      
      <img src="{{- $image.RelPermalink -}}" height="{{- $image.Height -}}" width="{{- $image.Width -}}" class="rounded-lg shadow-md mx-auto block">

      <h1 class="text-brand-black dark:text-white my-10">
        {{- .Title -}}
      </h1>

      <div class="w-full lg:w-2/3 px-2 lg:px-0 mx-auto flex flex-col">
        <div class="w-full mt-4 pt-4 sm:mt-0 text-xl prose dark:prose-invert indent-8">
          {{ .Content }}
        </div>

        <hr class="spacer">

        {{ partial "social-share" . }}

      </div>
    </div>
  </section>
  
{{ end }}