{{/* $backgroundImage := ((resources.Get site.Params.Hero.image).Resize "1200x webp q60") }}

<div class="w-full bg-center bg-cover" style="background-image: url('{{- $backgroundImage.RelPermalink -}}');height: 25em;">
  <div class="flex items-center justify-around w-full h-full bg-gray-900 bg-opacity-50">
    <div class="text-left w-full md:w-1/2">
      <h1 class="text-2xl font-semibold text-white uppercase lg:text-3xl mx-10 lg:mx-0 text-center">{{ site.Params.Hero.title }}</h1>

      <span class="text-center text-xl text-white lg:text-xl mx-10 lg:mx-0 capitalize block">{{ .Site.Params.Hero.description }}</span>



    </div>
  </div>
</div>*/}}

<section id="image-carousel" class="splide mx-auto md:h-[400px] my-4 w-11/12 md:w-[1200px] my-10 rounded-xl shadow-lg" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">

			{{- range site.Params.Hero -}}

				{{- $image := printf "images/**/%s" .image -}}
				{{- $image = resources.GetMatch $image -}}
				{{- $image = $image.Fill "1200x400 webp q80" -}}

				<li class="splide__slide" class="mx-auto">
					<a href="{{ .big_link }}">
						<img src="{{- $image.RelPermalink -}}" alt="{{ .Title }}" class="w-full rounded-xl">
					</a>
				</li>
			{{- end -}}

			{{ $p := slice }}
			{{ range (slice "articles" "podcast" "answers") }}
				{{ $p = $p | append (index (where site.RegularPages "Section" . | first 1) 0) }}
			{{ end }}

			{{ range $p.ByDate }}

				{{- $image := printf "images/**/%s" .Params.feature -}}
				{{- $image = resources.GetMatch $image -}}
				{{- $image = ($image.Fill "1200x400 q80 webp") -}}

				<li class="splide__slide" class="mx-auto">
					<a href="{{ .Permalink }}">
						<img src="{{- $image.RelPermalink -}}" alt="{{ .Title }}" class="w-full rounded-xl">
					</a>
				</li>

			{{ end }}

		</ul>
  </div>
</section>