<nav class="bg-white dark:bg-slate-900 shadow sticky top-0 z-30">
  <div class="container flex-row px-6 py-4 mx-auto flex lg:justify-between lg:items-center">
    <div class="lg:flex lg:items-center">
      <div class="flex items-center justify-between">

        <a href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.BaseURL }}/images/logo.svg" alt="{{- .Site.Title -}}" height="56" width="56" class="h-14">
        </a>

        <a href="{{ .Site.BaseURL }}" class="text-2xl ml-10 font-bold text-gray-800 dark:text-gray-100 lg:text-3xl hover:text-gray-700 dark:hover:text-gray-200">
          {{ .Site.Title }}
        </a>

      </div>


    </div>

    <div id="navigation" class="flex flex-col text-gray-600 dark:text-gray-100 capitalize lg:flex lg:px-16 lg:ml-auto lg:flex-row lg:items-center hidden">

      {{/* range .Site.Menus.main }}
        <a href="{{ .URL }}" class="my-2 lg:my-0 transition duration-200 hover:text-black rounded hover:shadow-md py-2 px-5">{{ .Name }}</a>
      {{ end */}}

      {{ partial "donate-button" . }}
      

    </div>

    <div class="flex justify-center items-center text-center mt-6 lg:flex lg:mt-0 lg:mr-10 hidden lg:block">
      {{ partial "social" (dict "context" . "size" "5") }}
    </div>

    <!-- Mobile menu button -->    
    <span class="inline-block ml-auto lg:ml-0">
      <div class="flex flex-col text-center items-center">
        <button type="button" class="text-gray-600 dark:text-gray-100 hover:text-black dark:hover:text-white focus:outline-none focus:text-gray-600 dark:focus:text-gray-300 " aria-label="toggle menu" onclick="openNav()">
          <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
          </svg>
        </button>
        <span class="text-xs text-gray-600 dark:text-gray-100 hover:text-black dark:hover:text-white">Menu</span>
      </div>
    </span>

  </div>
</nav>