{{- define "main" -}}

  <!-- // { Podcast } -->
  <div class="lg:container lg:mx-auto lg:px-56 mt-10">
    <div class="flex flex-col mb-12">
      <div class="flex flex-col md:flex-row items-center text-center md:items-baseline justify-between">
        <h1 class="text-6xl font-bold text-gray-800 mb-4">{{- (site.GetPage "podcast").Title -}}</h1>
        <h3 class="text-3xl font-serif italic text-center md:text-right text-gray-600 md:w-1/2">{{- (site.GetPage "podcast").Params.subtitle -}}</h3>
      </div>
      <div class="text-lg font-light text-gray-400 font-bold md:w-1/2">
        {{- .Content -}}
      </div>
    </div>
  </div>

  <div class="w-4/5 md:w-full md:mx-0 mx-auto flex flex-col md:flex-row flex-wrap justify-evenly">
    {{- range $index, $element := first 6 (where site.RegularPages "Section" "eq" "podcast") -}}
      
      {{- $image := printf "images/**/%s" .Params.feature -}}
      {{- $image = resources.GetMatch $image -}}
      {{- $image = ($image.Resize "500x q80 webp") -}}

      <a href="{{- .Permalink -}}" style="background-image:url('{{- $image.RelPermalink -}}')" 
        class="md:flex-[1_1_25%] group bg-cover h-[200px] md:h-[400px] w-full md:w-1/3 mx-auto md:mx-8 my-5 rounded-xl px-2 shadow hover:shadow-md bg-blend-soft-light flex flex-col justify-center 
        hover:bg-brand-yellow transition-all duration-100">
        <h3 class="text-center text-3xl w-3/4 mx-auto text-transparent group-hover:text-white">{{- .Title -}}</h3>
      </a>

    {{- end -}}
  </div>


  <!-- // { Answers } -->
  <section class="bg-brand-purple pt-3 mt-20 pb-12">

  <div class="lg:container lg:mx-auto lg:px-56 mt-5">
    <div class="flex flex-col mb-12">
      <div class="flex flex-col md:flex-row items-center text-center md:items-baseline justify-between">
        <h1 class="text-6xl font-bold text-gray-800 mb-4 md:text-left">{{- (site.GetPage "answers").Params.subtitle -}}</h1>
        <h3 class="text-3xl font-serif italic text-gray-600 md:text-right">{{- (site.GetPage "answers").Title -}}</h3>
      </div>
      <div class="text-lg font-light text-gray-400 font-bold md:w-1/2">
        {{- .Content -}}
      </div>
    </div>
  </div>

    <div id="card-carousel" class="splide container mx-auto">
      <div class="splide__track">
        <ul class="splide__list">
        
          {{- range $index, $element := first 6 (where site.RegularPages "Section" "eq" "answers") -}}
        
            {{- $image := printf "images/**/%s" .Params.feature -}}
            {{- $image = resources.GetMatch $image -}}
            {{- $image = ($image.Resize "500x q80 webp") -}}

            {{ if gt .ReadingTime 1 }}
              {{ .Scratch.Set "readingTime" "minutes" }}
            {{ else }}
              {{ .Scratch.Set "readingTime" "minute" }}
            {{ end }}

            {{ $author := index .Site.Data.authors .Params.author }}

            {{- $avatar := $author.avatar | default "/images/authors/default.png" -}}
            {{- $avatar = ((resources.GetMatch $avatar).Resize "150x150 webp q65") -}}

            <li class="splide__slide ml-5">

              <div class="overflow-hidden hover:shadow-lg transition-all h-[315px] mx-4 duration-300 rounded-lg bg-brand-black hover:bg-[#000] group">
                <a href="{{ .Permalink }}" class="w-full block">
                  <img alt="blog photo" src="{{- $image.RelPermalink -}}" class="max-h-40 w-full object-cover"/>
                </a>
                <div class="w-full p-4 flex flex-col">

                  <a href="{{ .Permalink }}" class="text-brand-red hover:underline text-xl font-medium mb-2 group-hover:text-brand-purple">
                    {{ .Title }}
                  </a>
                  <p class="text-gray-300 font-light text-md group-hover:text-white">
                    {{ .Description }}
                  </p>
                </div>
              </div>

            </li>

          {{- end -}}
    
        </ul>
      </div>
    </div>
  </section>

  <!-- // { Articles } -->
  <div class="lg:container lg:mx-auto lg:px-56 mt-10">
    <div class="flex flex-col mb-12">
      <div class="flex flex-col md:flex-row items-center text-center md:items-baseline justify-between">
        <h1 class="text-6xl font-bold text-gray-800 mb-4">{{- (site.GetPage "articles").Title -}}</h1>
        <h3 class="text-3xl font-serif italic text-gray-600">{{- (site.GetPage "articles").Params.subtitle -}}</h3>
      </div>
      <div class="text-lg font-light text-gray-400 font-bold md:w-1/2">
        {{- .Content -}}
      </div>
    </div>
    <section class="w-full flex flex-col md:flex-row flex-wrap justify-start">
      {{- range $index, $element := first 6 (where site.RegularPages "Section" "eq" "articles") -}}
        {{ .Render "summary" }}
      {{- end -}}
    </section>
  </div>


  <div class="lg:container lg:mx-auto lg:px-56 mt-10">
    {{- .Content -}}
  </div>

{{- end -}}