{{ define "main" }}

  <section class="w-full text-brand-black body-font">
    <div class=" mx-auto flex flex-col">
      
      {{- partial "post-feature" . -}}

      <div class="w-full lg:w-2/3 px-2 lg:px-0 mx-auto flex flex-col">
        <div class="w-full mt-4 pt-4 sm:mt-0 text-xl prose">
          {{ .Content }}
        </div>

        <hr class="spacer">

        {{ partial "social-share" . }}

        <hr class="spacer">

        {{ partial "author-block" . }}

        <hr class="break">

        {{ partial "comment-system" . }}

        <hr class="break">

        {{ partial "post-meta" . }}

      </div>
    </div>
  </section>
  
{{ end }}